<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://tizen.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets:tizen" id="http://coinis.com/SnakeDemo" version="1.0.0" viewmodes="maximized">
    <tizen:application id="http://coinis.com/SnakeDemo.SnakeDemo" package="http://coinis.com/SnakeDemo" required_version="3.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <name>Coinis Snake Demo</name>
    <tizen:profile name="mobile"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
